
<div class="center">
    <a href="#/coffee"><img src="images/coffee.jpg" alt="coffee" width="500" height="300" style="padding:10px"></a>
    <a href="#/drinks"><img src="images/sodas.jpg" alt="drinks" width="500" height="300" style="padding:10px"></a>
    <br /><br /><br />
    <a href="#/snacks"><img src="images/lays.jpg" alt="snacks" width="500" height="300" style="padding:10px"></a>
    <a href="#/sweets"><img src="images/choco.jpg" alt="sweets" width="500" height="300" style="padding:10px"></a>
</div>
<footer>
     <marquee behavior="alternate" scrollamount="12">Created by Adela Mester</marquee>
</footer>
